#root {
	margin: 0 auto;
	width: 100%;
}

main {
	padding: 0 2rem;
}

main.annotator {
	padding: 0;
}

.rotate{
  animation: spinner 1s linear infinite; 
}
@keyframes spinner {
  to { transform: rotate(360deg); }
}